@import "tailwindcss";

@theme inline {
  --font-main: var(--font-helvetica-now);
  --color-primary: #0099A5;
  --color-button-primary: #016FFF;
  --color-status-progress: #D8D8D8;
  --color-status-success: #A8FFB5;
  --color-status-cancel: #FFA8A8;

}